<li class="nav-item dropdown">
	<a class="nav-link text-light dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
	<div class="dropdown-menu">
		<a class="dropdown-item" asp-area="Admin" asp-controller="Movies" asp-action="Index">
			<i class="fas fa-box mr-2"></i>Movies
		</a>
		<a class="dropdown-item" asp-area="Admin" asp-controller="Genres" asp-action="Index">
			<i class="fas fa-users mr-2"></i>Genres
		</a>
		<a class="dropdown-item" asp-area="Admin" asp-controller="CastCrewRoles" asp-action="Index">
			<i class="fas fa-file-video mr-2"></i>Cast and Crew Roles
		</a>
		<a class="dropdown-item" asp-area="Admin" asp-controller="CastCrews" asp-action="Index">
			<i class="fas fa-file-video mr-2"></i>Cast and Crew
		</a>
	</div>
</li>